/* style.css */
body {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
}

input:focus, textarea:focus {
  border-color: #3b82f6; /* Tailwind's blue-500 */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4);
}
